In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
 dates = pd.date_range("20210101", periods=6)

In [11]:
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6 , 4) , index = dates , columns = list('abcd'))

In [9]:
df

                   a         b         c         d
2013-01-01 -0.291492  0.739978 -0.647775  0.198572
2013-01-02 -2.936075  0.809897  0.848461  0.397329
2013-01-03 -0.067669  1.877996 -0.601335  0.386232
2013-01-04  1.661870  1.783188 -0.261060  0.539686
2013-01-05  1.809661  0.754591  0.704118 -0.842599
2013-01-06 -0.555390  1.667838 -0.950675  0.974873

In [18]:
 df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20210101"),
         "C": np.array([3]*4 , dtype = 'int32'),
          "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "raja",
     })

In [19]:
df2

     A          B  C      E     F
0  1.0 2021-01-01  3   test  raja
1  1.0 2021-01-01  3  train  raja
2  1.0 2021-01-01  3   test  raja
3  1.0 2021-01-01  3  train  raja

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C             int32
E          category
F            object
dtype: object

In [22]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
 a = df.to_numpy()

In [25]:
a.shape

(6, 4)

In [26]:
a

array([[-0.77367432,  1.39968904, -0.46218032,  1.06785191],
       [-1.43062217,  1.23547541,  0.68211871, -0.66117228],
       [-0.81562845,  0.0476497 ,  1.23260121,  0.87101722],
       [ 0.51113102,  0.88956168,  0.90569335,  0.90272926],
       [-0.96468104,  0.48045838,  1.72343164,  0.70332338],
       [ 0.71763488,  0.34875177,  0.52671039,  1.17721482]])